.nsw-file-upload {
  margin-top: rem(8px);
  display: block;
  position: relative;

  &__label {
    margin: 0;
  }

  &__input {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    width: 100%;
    right: 0;
    cursor: pointer;

    &:disabled {
      + .nsw-file-upload__label {
        opacity: 0.4;
        cursor: not-allowed;
      }
    }
    
    &:focus + .nsw-file-upload__label {
      @include nsw-focus;
    }
    
    &:hover + .nsw-file-upload__label {
      background: var(--nsw-brand-dark);
      color: var(--nsw-white);
    }
  }

  &__list {
    display: none;
    margin: 0;
    padding: 0;
    border: 0;

    &.active {
      display: block;
    }
  }

  &__item {
    display: flex;
    max-width: rem(500px);
    align-items: center;
    justify-content: space-between;
    background-color: var(--nsw-off-white);
    border-radius: var(--nsw-border-radius);
    padding: rem(8px);
    z-index: 10;

    &:not(:last-child) {
      margin-bottom: rem(8px);
    }

    .nsw-icon-button {
      cursor: pointer;
      z-index: 1;
    }
  }

  &__item-filename {
    margin-left: rem(8px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &.drag-over {
    border: rem(4px) dashed var(--nsw-brand-dark);
    border-radius: var(--nsw-border-radius);
    background: var(--nsw-grey-04);
    height: 100%;
    min-height: rem(120px);
    box-sizing: border-box;

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }

    &::before {
      @include material-icons;
      content: 'download';
      font-size: rem(map-get($nsw-icon-sizes, 24));
      top: calc(50% - 12px);
    }

    &::after {
      content: 'Drop anywhere to upload';
      top: calc(50% + 12px);
    }

    .nsw-file-upload__label ,
    .nsw-file-upload__item {
      visibility: hidden;
    }
  }
}
